@media only screen and (min-width: 64rem)
{
    #heroContainer img {
        max-height: 450px;
    }

    #heroContainer button {
        left: 35%;
        width: 20em;
        font-size: 1em;
    }

    #orderInfoContainer {
        grid-column: 1/2;
        justify-self: left;
        align-self: center;
        height: 85%;
        width: 50%;
        border-radius: 0 25px 25px 0;
    }

    #sellingContainer div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .5em;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #sellingContainer div img {
        grid-row: 1;
        align-self: center;
        margin: 3em auto 1em
    }

    #sellingContainer div p {
        max-width: 20em;
        margin: auto;
    }
}