body {
    font-size: 18px;
    line-height: 2em;
    background-color: #eae0d5;
}

header, footer {
    background-color: #0a0908;
    padding: 2em;
    border-radius: 5px;
    text-align: center;
    color: #eae0d5;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1em;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    color: #eae0d5;
}

h1, h2 {
    margin: 20px  20px ;
}

h3 {
    font-size: 1.5rem;
    background-color: #0a0908;
    margin-top: 0;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    
}

section {
    background-color: #22333b;
    border-radius: 5px;
    margin-bottom: 2em;
}

p {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    color: #eae0d5;
}

p, img {
}

img {
    max-width: 100%;
}

