body 
{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;;
    line-height: 2em;
    background-color: #B7B7A4;
    margin: 0;
}

main {
    margin: .75rem ;
}

a{
    color: white;
}
a:visited {
    color: white;
}


nav a:visited {
    color: black;
}


h1, h2, h3 {   
     font-family: 'Nunito', sans-serif;;
}

p {
    font-family: 'Open Sans', sans-serif;;
}

#banner  {display: block;}
header, footer 
{
    padding: 1em;
    background-color: #6B705C;
    color: white;
}

footer {
    text-align: center;
    border-radius: 10px 10px 0 0;
}

header 
{
    display: grid;
    grid-template-columns: 60px 1fr 1fr;
    grid-template-rows: 4em 3em;
    border-radius: 0;
}

header .socials {
    height: 2.3rem;
    justify-self: right;
    border-radius: 10px;
}

header a {
    height: 2.3rem;
    justify-self: right;
    border-radius: 10px;
}


nav {
    background-color: #FFE8D6;
    color: black;
    border-radius: 0 0 10px 10px;
    grid-column: 1/4;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: .2rem 2vw;

}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.20);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: black;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#primaryNav {
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

#hamburger span:nth-child(1) {
    display: block;
}

#hamburger span:nth-child(2) {
    display: none;
}

#hamburger.open span:nth-child(1) {
    display: none;
}

#hamburger.open span:nth-child(2) {
    display: block;
}

section {
    width: auto;
    margin: .5em;
    padding: 1em;
    background-color: #6B705C;
    color: white;
    text-align: center;
}

header img {
    max-width: 3em;
}

h1 {
    font-size: 1.5em;
    margin-top: 0;
}

h2 {
    font-weight: 700;
    color: #FFE8D6;
    background-color: #6B705C;
    border-radius: 5px;
    padding: .5em;
}

header p {
    grid-column: 1/3;
    grid-row: 2;
    margin-top: 0;
}




#spotlight3 {
    display: none;
}

#spotlights img {
    max-height: 100px;
}







#join {
    display: none;
}

#headerDate {
    margin: 0;
    border-radius: 10px 10px 0 0;
	padding: 0.75rem;
	background-color:#FFE8D6;
    color: black;
    grid-column: 1/4;
    grid-row: 3;
    text-align: center;
}


/* Hero Section */

#hero {
    position: relative;
    background-color: #B7B7A4;
    color: black;
    margin: 0;
    padding: 1em;
    text-align: center;
}

#hero h2 {
    position: absolute;
    top: .7em;
    left: 1em;
    color: black;
}

#hero p {
    position: absolute;
    top: 3.5em;
    margin: 10px;
}

#hero button {
    position: absolute;
    top: 55%;
    right: 3em;
    padding: .8em;
    font-size: .8em;
    font-weight: 700;
    background-color: #B7B7A4;
    border-radius: 15px;
    
}

#heroImage img {
    width:100%;
    height: auto;
}


/* Event section */



/* Weather Section */

#weather img {
    max-height: 100px;
}



/* Spotlight Section */

section div {

    margin: auto;
    margin-top: auto;
    padding: .5em;
    border: 7px solid #FFE8D6;
    border-radius: 5px;
}



#spotlights h2 {
    
}

/* Spotlight 1 */

#spotlight1 img
{
    border-radius: 200px;
}

/* spotlight 2 */

#spotlight2 img {
    border-radius: 30px;
}

/* Join section */

#join button {
    width: 90%;
    height: 3em;
    background-color: #FFE8D6;
    border-radius: 10px;
    font-size: large;
}


/* DISCOVER PAGE */

.discover {
    margin: auto;
    width: 80%;
}

.discover img {
    width: 100%;

}

.discover p {
    margin-bottom: 4em;
    margin-top: .3em;
}

/* JOIN PAGE */

/* FORM */

form fieldset{
    margin: auto;
    background-color: #FFE8D6;
    border: none;
    border-radius: 10px;
    width: 100%;
    max-width: 90%;
    padding: .5em;
    color:#6B705C
}

form label {
    margin: 1.5em;
    display: block;
    color: black;
}


form label.top input {
    display: block;
    width: 100%;
    max-width: 20rem;
    border: none;
    border-radius: 10px;
    height: 50px;
    padding: .2rem .5rem;
}

form textarea#descriptionBox {
    height: 10rem;
    display: block;
    width: 100%;
    max-width: 20rem;
    border: none;
    border-radius: 10px;
    padding: 1rem;
}

label.sbs input{
    display: inline-block;
}

form input.submitBtn {
    border: none;
    background-color:#6B705C;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-size: 2rem;
}

div#membershipBenefits {
    display: none;
}

/* ----- DIRECTORY PAGE ----- */

main.directory {
    display: block;
}

div.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

div.cards img {
    max-width: 100%;
    max-height: 200px;
}

div.cards section {
    margin: 1em;
    border-radius: 10px;
}

.list {
    display: flex;
    flex-direction: column;
}

div.list section {
    margin: 0 1em;
    padding: .5em;
    text-align: left;
    line-height: 1em;
    border: 1px solid #33362c;
}





.list section img {
    display: none;
}

div.viewSelector {
    display: flex;
    flex-direction: row;
}

.viewSelector button {
    width: 50%;
    height: 50px;
    background-color: #FFE8D6;
}