body {
    font-size: 18px;
    line-height: 1.5;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 1.1rem;
}

header {
    
}

p, li  {
font-family: 'Tajawal', sans-serif;
}

h1 {
    font-size: 1.3em;
    grid-column: 2/3;
    align-self: center;
    justify-self: left;
}

h2 {
    text-decoration: underline;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

img {
    max-height: 200px;
    border: 15px;
    box-shadow: 0 0 30px rgb(0, 0, 53);
}